<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <title>{% block title %}{% endblock title %}</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="index">MI.Sales Recorder</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="index">Home</a>
          </li>
          {% endif %}
          {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link active" href="help">Help</a>
          </li>
          {% endif %}
          {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link active" href="contactUs">Contact US</a>
          </li>
          {% endif %}
          {% if request.user.is_authenticated %}
          <div class="collapse navbar-collapse" id="kDropdown">
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <a class="nav-link active dropdown-toggle" id="DarkDropdownMenuLink" role="button"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  Report
                </a>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                  <li><a class="dropdown-item nav-link disabled text-white">No.of sales - ({{noSale}})</a></li>
                  <li><a class="dropdown-item nav-link disabled text-white">No.of expances - ({{noExp}})</a></li>
                  <li><a class="dropdown-item text-white" href="report">Click here for full report.</a></li>
                </ul>
              </li>
            </ul>
          </div>
          {% endif %}
          {% if request.user.is_authenticated %}
          <div class="collapse navbar-collapse" id="kDropdown1">
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <a class="nav-link active dropdown-toggle" id="DarkDropdownMenuLink1" role="button"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  Profit&Loss
                </a>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                  <li><a class="dropdown-item nav-link disabled text-white">profit-: ({{lastSale}})</a></li>
                  <li><a class="dropdown-item nav-link disabled text-white">profit/Loss-: ({{profitLoss}})</a></li>
                  <p class="dropdown-item nav-link disabled text-white">(-) show loss.</p>
                </ul>
              </li>
            </ul>
          </div>
          {% endif %}
        </ul>
        {% if request.user.is_authenticated %}
        <button type="text" class="btn btn-outline-primary my-2">logIn as -:({{request.user}})</button>
        {% endif %}
        {% if request.user.is_authenticated %}
        <a href="logOut"><button type="button" class="btn btn-outline-danger mx-2 my-2">logOut</button></a>
        {% endif %}
        {% if request.user.is_authenticated %}
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-primary" type="submit">Search</button>
        </form>
        {% endif %}
      </div>
    </div>
  </nav>


  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
    <strong>{{ message }}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}
  {% endif %}


  {% if not request.user.is_authenticated %}
  <div class="container my-3">
    <h3>logIn here!</h3>
    <hr>
  </div>
  <div class="container my-4">
    <form action="/" method="post">{% csrf_token %}
      <div class="mb-3">
        <label for="name" class="form-label">User Name</label>
        <input type="text" class="form-control" id="userName" placeholder="Enter your user name here!" required
          name="userName">
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Enter your password here!" required
          name="password">
      </div>
      <button type="submit" class="btn btn-outline-success">Submit</button>
    </form>
  </div>
  {% endif %}

  {% block body %}{% endblock body %}
  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

  <!-- Option 2: Separate Popper and Bootstrap JS -->
  <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
</body>

</html>