{% extends 'base.html' %}
{% block title %}
logIn Now!
{% endblock title %}
{% block body %}

{% if request.user.is_authenticated %}
<div class="container my-4">
    <div class="card">
        <h5 class="card-header">{{request.user}}</h5>
        <div class="card-body">
            <h5 class="card-title">Welcome back {{request.user}}</h5>
            <p class="card-text">You are alrady login so you are directly use our software or logout now.</p>
            <a href="index" class="btn btn-outline-dark">Use Software</a>
            <a href="logOut" class="btn btn-outline-dark">Logout Now</a>
        </div>
    </div>
</div>
{% endif %}
{% if not request.user.is_authenticated %}
<div class="container my-3">
    <h3>logIn here!</h3>
    <hr>
</div>
<div class="container my-4">
    <form action="/" method="post">{% csrf_token %}
<div class="mb-3">
  <label for="name" class="form-label">User Name</label>
  <input type="text" class="form-control" id="userName" placeholder="Enter your user name here!" required name="userName">
</div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="password" placeholder="Enter your password here!" required name="password">
  </div>
  <button type="submit" class="btn btn-outline-success">Submit</button>
</form>
</div>
{% endif %}
{% endblock body %}